/*ShopitPress Extras*/
.sip-addon {
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 3px;
	float: left;
	margin: 0 2% 2% 0;
	min-height: 485px;
	padding: 20px;
	text-align: center;
	width: 30%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.sip-addon h1{
	color: #333333;
	text-align: center;
  line-height: initial;
}

.sip-addon p{
	font-size: 14px;
	text-align: center;
}

.sip-addon-thumb {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}

.sip-addon-action .button {
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 10px;
	width: 50%;
}

.sip-addon-action{
	text-align: center;
}

.sip-addon .button.button-primary {
  background-color: #ed1c24;
  border-color: #ad1c24
}

.sip-addon .button.button-primary:hover {
  background-color: #ad1c24;
  border-color: #ad1c24
}

.sip-container {
  margin-right: 15px;
}

.sip-version {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

@media screen and (max-width: 782px){
  .sip-addon {
    float: none;
    margin-right:0;
    width:auto;
    border:0;     
  }
}

/* Sip Notification Message */

.sip-notification-message {
  border: 1px solid #d4d4d4; 
  margin: 12px 0;
  background: #FFF;
  position: relative;
  overflow: hidden;
}

.sip-notification-message .icon {
  float: left;
  margin: 12px 8px 8px 12px;
}

.sip-notification-message .icon img {
  max-width: 60px;
}

.sip-notification-message .text {
  color: #000; 
  font-size: 15px; 
  line-height: 26px; 
  margin: 18px 18px 14px; 
  float: left; 
  width: auto; 
  max-width: 80%;
}

.sip-notification-message .button {
  float: right; 
  border: none; 
  font-size: 14px; 
  margin: 18px 16px; 
  padding: 12px 29px; 
  color: #FFF; 
  text-shadow: none; 
  font-weight: bold; 
  background: #0074A2;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  line-height: 26px;
}

.sip-notification-message .button:hover { 
  background-color: #333333;
  color: #fff;
}

/*SIP tab Content*/

.sip-tab-content {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  padding: 20px;
  margin-right: 2px;
}

.sip-tab-content strong{
  padding-left: 0px;
}

/* Helpus */

.helpus {
  
}